.title__es {
  margin-bottom: 45px;
}
.header__de-390{
  margin-bottom: 95px
}
.header__de-375{
  margin-bottom: 10px
}
.header__de-414{
  margin-bottom: 25px
}
.header__fr-414{
  margin-bottom: 90px;
}
.header__fr-390{
  margin-bottom: 145px;
}
.header__ja-390{
  margin-bottom: 206px;
}
.header__pt-390{
  margin-bottom: 190px;
}
.header__pt-375{
  margin-bottom: 40px;
}
.header__fr-375{
  margin-bottom: 10px;
}
.header__es-390{
  margin-bottom: 190px;
}
.header__es-414{
  margin-bottom: 70px;
}
.footer__es-375 {
  margin: 25px 10px 5px 10px
}
.footer__es-414 {
  margin: 65px 15px 5px 15px;
}
.footer__pt-375 {
  margin: 25px 11px 5px 11px;
}
.footer__pt-390 {
  margin: 50px 11px 5px 11px;
}
.footer__de-390 {
  margin: 95px -5px 5px -5px;
}
.footer__de-375 {
  margin: 11px -15px 3px -15px;
}
.footer__fr-414 {
  margin: 45px 0px 5px 0px;
}
.footer__fr-375 {
  margin: 11px -7px 5px -7px;
}
.footer__pt-414 {
  margin: 90px 11px 5px 11px;
}
.footer__es-390 {
  margin: 30px 15px 5px 15px;
}
.footer__de-414 {
  margin: 60px 5px 5px 5px;
}
.footer__es {
  margin: 50px 15px 5px 15px;
}
.footer__en-414{
  margin: 90px 30px 5px 30px;
}
.footer__en-390{
  margin: 90px 30px 5px 30px;
}
.btn__prise_de-375{
  width: 77px;
  margin-right: 40px;
}
.btn__prise_fr-414{
  width: 90px;
  margin-right: 28px;
}
.btn__prise_pt-375{
  width: 104px;
  margin-right: 14px;
}
.btn__prise-es {
  width: 87px;
  margin-right: 34px;
}
.btn__prise-fr {
  width: 100px;
  margin-right: 17px;
}
.btn__prise_fr-375 {
  width: 100px;
  margin-right: 0;
}
.two__375 {
  margin-right: 34px;
}
.two__de-375 {
  width: 77px;
  margin-right: 51px;
}
.two__pt-414 {
  width: 66px;
  margin-right: 60px;
}
.btn__prise-pt {
  width: 85px;
  margin-right: 40px;
}
.btn__prise-es {
  width: 85px;
  margin-right: 31px;
}
.border{
  border: 1px solid red;
}