.container-de_375{
  padding-top: 15px
}
.title-es {
  margin-bottom: 45px;
}
.title-es_375 {
  margin-bottom: 45px;
}
.header-de-390{
  margin-bottom: 95px
}
.header-de-375{
  margin-bottom: 10px
}
.header-de-414{
  margin-bottom: 25px
}
.header-fr-414{
  margin-bottom: 90px;
}
.header-fr-390{
  margin-bottom: 145px;
}
.header-ja-390{
  margin-bottom: 206px;
}
.header-pt-390{
  margin-bottom: 190px;
}
.header-pt-375{
  margin-bottom: 40px;
}
.header-fr-375{
  margin-bottom: 10px;
}
.header-es-390{
  margin-bottom: 190px;
}
.header-es-414{
  margin-bottom: 70px;
}
.footer-es_375 {
  margin: 25px 10px 5px 10px
}
.footer-es_414 {
  margin: 65px 15px 5px 15px;
}
.footer-pt_375 {
  margin: 25px 11px 5px 11px;
}
.footer-pt_390 {
  margin: 50px 11px 5px 11px;
}
.footer-de_390 {
  margin: 95px -5px 5px -5px;
}
.footer-de_375 {
  margin: 11px -15px 3px -15px;
}
.footer-fr_414 {
  margin: 45px 0px 5px 0px;
}
.footer-fr_375 {
  margin: 11px -7px 5px -7px;
}
.footer-pt_414 {
  margin: 90px 11px 5px 11px;
}
.footer-es_390 {
  margin: 30px 15px 5px 15px;
}
.footer-de_414 {
  margin: 60px 5px 5px 5px;
}
.footer-es {
  margin: 50px 15px 5px 15px;
}
.footer-en_414{
  margin: 90px 30px 5px 30px;
}
.footer-en_390{
  margin: 90px 30px 5px 30px;
}
.btn__prise_de_375{
  width: 77px;
  margin-right: 40px;
}
.btn__prise_fr_414{
  width: 90px;
  margin-right: 28px;
}
.btn__prise_pt_375{
  width: 104px;
  margin-right: 14px;
}
.btn__prise-es {
  width: 87px;
  margin-right: 34px;
}
.btn__prise-fr {
  width: 100px;
  margin-right: 17px;
}
.btn__prise-fr_375 {
  width: 100px;
  margin-right: 0;
}
.two_375 {
  margin-right: 34px;
}
.two_de_375 {
  width: 77px;
  margin-right: 51px;
}
.two_pt_414 {
  width: 66px;
  margin-right: 60px;
}
.btn__prise-pt {
  width: 85px;
  margin-right: 40px;
}
.btn__prise-es {
  width: 85px;
  margin-right: 31px;
}
.border{
  border: 1px solid red;
}